click==6.7
torch==1.0.1.post2
torchvision==0.2.2.post3
numpy==1.22.0
matplotlib==3.0.2
networkx==1.11
requests==2.19.1
datetime
opencv-python==4.2.0.32
pillow
networkx==1.11
requests==2.20.0
werkzeug
